<div class="card-header header-bg-color text-center">
    <img src="//dbfukofby5ycr.cloudfront.net/m34/0/9/d2108/1c121-indirimv3-ls-750x90.jpg" alt="">
</div>

<div class="navbarbgcolor">
<div class="container col-md">
    <div class="d-flex justify-content-center">
        <a href="#" class="headerlink-text p-2 link-hover">Bize Ulaşın</a>
        <a href="#" class="headerlink-text p-2 link-hover">Mağaza Aç</a>
        <a href="#" class="headerlink-text p-2 link-hover">Satış Yap</a>
        <a href="#" class="headerlink-text p-2 link-hover">Tüm Kampanyalar</a>
        <a href="#" class="headerlink-text p-2 link-hover">Süper Fiyatlar</a>
        <a href="#" class="headerlink-text p-2 link-hover">Yurt Dışı Alışveriş</a>
        <a href="#" class="headerlink-text p-2 link-hover">İade Süreci</a>
        <a href="#" class="headerlink-text p-2 link-hover">Sipariş Takibi</a>
    </div>
</div>

<div class="container">
    <div class="row d-flex align-items-center">
        <div class="col-md-2 d-flex justify-content-end"><a href="http://127.0.0.1:5500/index.html">
                <img src="https://mcdn01.gittigidiyor.net/cdimg/anasayfa/nucleus/gglogo.svg" alt="gglogo" width="170" height="90"></a>
        </div>

        <div class="input-group col-md-7 d-flex justify-content-center">
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2 search-button-style" type="search" placeholder="Ürünleri Keşfet ">
            <button class="btn btn-searchfind btn-hover btn-border" type="submit">BUL</button>
          </form>
            <!-- <input type="text" class="form-control input-border " placeholder="Keşfetmeye Bak" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-border btn-searchfind btn-hover" type="button">BUL</button>
            </div> -->
          </div>

        <div class="d-flex col-md-3 d-flex ">
            <mat-icon aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>
            <a routerLink="account" href="#" class="login-style p-1 link-hover">Giriş Yap</a>             
            
            <mat-icon  matBadge="{{cartCount}}" aria-hidden="false" aria-label="Example home icon">shopping_cart</mat-icon>
            <a routerLink="basket" class="login-style p-1 link-hover">Sepetim</a>
        </div>
    </div>
</div>
</div>


<div>
<ul class="nav nav-tabs navbar-style">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Elektronik</a>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Separated link</a></li>
      </ul>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Ev, Bahçe, Ofis</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Moda</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Kozmetik, Kişisel Bakım</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Anne, Bebek</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Süper Market, Evcil Hayvan</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Kitap, Müzik, Oyuncak</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Otomobil, Motosiklet</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Spor, Outdoor</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="#">Separated link</a></li>
        </ul>
      </li>
  </ul>

</div>

